.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-icon-facebook {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.icon-icon-instagram {
  width: 21px;
  height: 20px;
  background-position: -36px 0;
}
.icon-icon-pinterest {
  width: 20px;
  height: 20px;
  background-position: -72px 0;
}
.icon-icon-twitter {
  width: 23px;
  height: 20px;
  background-position: -108px 0;
}
.icon-icon-youtube {
  width: 21px;
  height: 20px;
  background-position: -144px 0;
}

